@page "/emailhistory"
@inherits EmailHistoryBase

<MudGrid>

        <MudItem xs="12" sm="6" md="4">

            <MudCard>
                <MudCardContent>
                    <MudText>Submit</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="SubmitAll">Submit All</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.body2">Email History</MudText>
                    <MudItem>
                        <MudTextField @bind-Value="EmailId" Label="EmalId" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Secondary" />
                    </MudItem>
                    <MudItem>
                        <MudDatePicker Label="From Date" @bind-StartDate="FromDate" DateFormat="dd/MM/yyyy"  Editable="true"  />
                    </MudItem>
                    <MudItem>
                        <MudDatePicker Label="To Date" @bind-StartDate="ToDate" DateFormat="dd/MM/yyyy"  Editable="true"  />
                    </MudItem>
                    <MudRadioGroup @bind-SelectedOption="@SelectedOption">
                        <MudRadio Option="@("Submitted")" Color="Color.Primary">Submitted</MudRadio>
                        <MudRadio Option="@("Released")" Color="Color.Secondary">Released</MudRadio>
                        <MudRadio Option="@("All")">All</MudRadio>
                    </MudRadioGroup>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Search</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudCard>
                <MudCardContent>
                    <MudText>Approve</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Outlined" Color="Color.Secondary" @onclick="ReleaseAll">Release All</MudButton>
                </MudCardActions>
            </MudCard>

        </MudItem>

    </MudGrid>








@*<div class="row">
        <div class="offset-1 col-md-2">
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="offset-1 col-md-5">
            <div class="offset-1 col-md-2">
                <div class="card">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
        <div class="offset-1 col-md-2">
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>*@
@*@inject HttpClient httpClient

    <MudTable Items="" MultiSelection="true" @bind-SelectedItems="" Hover="@hover">
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<Element, object>(x=>x.Number)">From Email</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Element, object>(x=>x.Sign)">To Email</MudTableSortLabel></MudTh>
            <MudTh>Subject</MudTh>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Element, object>(x=>x.Name)">Email Date</MudTableSortLabel></MudTh>
            <MudTh>Status</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.Number</MudTd>
            <MudTd DataLabel="Sign">@context.Sign</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Position">@context.Position</MudTd>
            <MudTd DataLabel="Molar mass">@context.Molar</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{25, 50, 75, 100}" />
        </PagerContent>
    </MudTable>
    <MudText Inline="true"></MudText>*@
